body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;   /* to prevent browser from applying default underline for links */
  color: black;
}

* {
  box-sizing: border-box;   /* affects width and padding. Read more on css  */
}
